@model IEnumerable<NotificationModel>

@{
    ViewData["Title"] = "Оповещения";
}

<h1 class="page-heading text-uppercase mb-4">Ваши оповещения</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="element-entry">
            <div class="element-entry-text">
                <div class="task-text">
                    @Html.DisplayFor(modelItem => item.Title)
                </div>
                <div class="user-info">
                    <div>@item.CreationDate.ToLocalTime().ToString("HH:mm\\/dd.MM")</div>
                </div>
                <div class=user-info>
                    <input asp-for="@item.IsChecked" value="@item.IsChecked" disabled="disabled"/>
                </div>
            </div>

            <div class="element-entry-actions align-middle">
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Просмотреть </a>
            </div>
        </div>
    }
</div>

<div style="position: fixed; right: 30px; bottom: 30px;" class="text-white">
    <a asp-action="DeleteChecked" class="btn btn-danger">Удалить просмотренные</a>
</div>

