@model IEnumerable<UserModel>

@{
    ViewData["Title"] = "Remove users from workspace";
}

<div class="row">
    @if (TempData.ContainsKey("error"))
    {
        <div>@TempData["error"]</div>
    }

    <div class="task-content">
        @foreach (var item in Model)
        {
            <div class="element-entry">
                <div class="element-entry-text">
                    <div class="task-text">
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </div>
                    <div class="user-info">
                        @Html.DisplayFor(modelItem => item.FullName)
                    </div>
                    <div class="user-info">
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </div>
                </div>

                <div class="element-entry-actions">
                    <div class="align-middle">
                        <a class="btn btn-outline-primary" asp-action="RemoveUser" asp-route-id="@item.EmailAddress">Удалить</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="sidebar">
        <form class="search-box">
            <input name="searchString" type="text" class="form-control rounded-control" placeholder="Найти по ФИО или Email"/>
            <button class="btn btn-main search-btn" type="submit"><i class="bi bi-search"></i></button>
        </form>

        <div>
            <div class="filters">
                <span class="text-uppercase fw-bold">Категории</span>
                    
                <a asp-action="RemoveUsers">Все</a>

                @foreach (var category in ViewBag.Categories)
                {
                    <a asp-action="RemoveUsers" asp-route-categoryId="@category.Id">@category.CategoryName</a>
                }
            </div>
        </div>
    </div>
</div>