@model UserModel

@{
    ViewData["Title"] = "Details";
}

<div class="row justify-content-center detail-form">
    <div class="col-xl-8 col-lg-10 form-layout">
        @if (Model is not null)
        {
            <div class="row task-detail-row">
                <div class="col-11 task-detail">
                    <div class="task-detail-text">
                        <div>Full name: @Model.FullName</div>
                        <div>Email address: @Model.EmailAddress</div>
                        <div class="fw-bold mb-2 task-detail-task">Category: @Model.Category.CategoryName</div>

                        @if (ViewBag.Task != null)
                        {
                            <div>Creation date: @ViewBag.Task.CreatedDate.ToLocalTime().ToString("HH:mm dd.MM.yyyy")</div>
                            <div>Finish date: @ViewBag.Task.FinishDate.ToLocalTime().ToString("HH:mm dd.MM.yyyy")</div>
                            <div class="fw-bold mb-2 task-detail-task">Task: @ViewBag.Task.TaskName</div>
                            <div class="mb-2 task-detail-author">Author: @ViewBag.Task.Author.FullName - @ViewBag.Task.Author.EmailAddress</div>
                            <div class="mb-2">Description: @ViewBag.Task.Description</div>
                        }
                        else
                        {
                            <div>У этого пользователя нет назначенных заданий</div>
                        }
                        <a class="btn btn-main text-uppercase" asp-action="Index">Show all</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>