@model UserModel

@{
    ViewData["Title"] = "Профиль";
}


<h1 class="page-heading text-uppercase mb-4">Профиль</h1>

<div class="row justify-content-center detail-form">
    <div class="col-xl-8 col-lg-10 form-layout">
        @if (Model is not null && Model.EmailAddress == User.Identity.Name)
        {
            <div class="row task-detail-row">
                <div class="col-11 task-detail">
                    <div class="task-detail-text">
                        <div>ФИО: @Model.FullName</div>
                        <div>Email адрес: @Model.EmailAddress</div>
                        <div class="fw-bold mb-2 task-detail-task">Компетенция: @Model.Category.CategoryName</div>
                        <div class="mb-2">
                            Рабочие области:
                            @if (ViewBag.Workspaces?.Count > 0)
                            {
                                @foreach (var w in ViewBag.Workspaces)
                                {
                                    <div>
                                        > <a asp-controller="Tasks" asp-action="Index" asp-route-workspace="@w.Id">@w.WorkspaceName</a>
                                    </div>
                                }
                            }
                            else
                            {
                                <div>
                                    Этот пользователь не состоит ни в одной рабочей области
                                </div>
                            }
                        </div>
                        <div>Назначенное задание:</div>
                        @if (Model.Task != null)
                        {
                            <div class="fw-bold mb-2 task-detail-task">Задание: 
                                <a asp-controller="Tasks" asp-action="Details" asp-route-id="@Model.Task.Id" asp-route-workspace="@Model.Task.Workspace.Id">@Model.Task.TaskName</a>
                            </div>
                            <div>Дата создания: @Model.Task.CreatedDate.ToLocalTime().ToString("HH:mm dd.MM.yyyy")</div>
                            <div>Дата завершения: @Model.Task.FinishDate.ToLocalTime().ToString("HH:mm dd.MM.yyyy")</div>
                            <div class="mb-2 task-detail-author">Автор: @Model.Task.Author.FullName - @Model.Task.Author.EmailAddress</div>
                            <div class="mb-2">Описание: @Model.Task.Description</div>
                            <a class="btn btn-outline-primary" asp-controller="Notifications" asp-action="NotifyCompletion" asp-route-taskId=@Model.Task.Id>Оповестить о завершении</a>
                        }
                        else
                        {
                            <div>У этого пользователя нет назначенных заданий</div>
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            <p>Ошибка доступа. Возможные проблемы: пользователь не найден, у вас отсутствуют права для просмотра его профиля</p>
        }
    </div>
</div>